<script src="Build/UnityLoader.js"></script>
<script>
    var gameInstance = UnityLoader.instantiate("gameContainer", "Build/LocalAdventures.json");
</script>

<div class="container">
    <div id="gameContainer" style="width: 900px; height: 506px; margin: auto"></div>
</div>