<div class="container">

    <div class="col-md-12">
        <div class="card card-outline-primary mb-3 text-center">
            <div class="card-block">
                <h4 class="card-title">{{article.title}}</h4>
                {{article.content}}

            </div>
            <div class="card-footer text-muted">
                Added on {{article.date}} by {{article.author.username}} {{#if isAdmin}}
                <a class="text-success" href="#" role="button">Edit</a>
                <a class="text-danger" href="#" role="button">Delete</a>
                {{/if}}
            </div>
        </div>
    </div>

</div>